@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans-Italic-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}

  html, body {
    @apply font-sans overflow-x-hidden;
  }
	h1 {
		@apply uppercase font-bold text-3xl md:text-4xl leading-8 md:leading-9;
	}

	.maplibregl-canvas-container canvas {
		@apply focus:outline-none;
	}

	.maplibregl-canvas-container {
		@apply relative w-full h-full focus-within:outline-none focus-within:border-2 focus-within:border-red;
	}
}
