@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Domine';
		src: url('/fonts/Domine-VariableFont_wght.ttf?v=3.18') format('truetype-variations');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nunito';
		src: url('/fonts/Nunito-VariableFont_wght.ttf?v=3.18') format('truetype-variations');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nunito';
		src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf?v=3.18') format('truetype-variations');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}

  html, body {
    @apply overflow-x-hidden font-sans;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-after: 1;
    hyphenate-limit-before: 3;
  }
	h1 {
		@apply text-4xl md:text-5xl font-serif;
	}

  .maplibregl-canvas-container canvas {
    @apply focus:outline-none;
  }

  .maplibregl-canvas-container {
    @apply relative w-full h-full focus-within:outline-none focus-within:border-2 focus-within:border-primary;
  }

  /* Spiderifier  */
  .spidered-marker {
    width: 1px;
    height: 1px;
    overflow: display;
    will-change: transform;
  }

  .spidered-marker:hover {
    cursor: pointer;
  }

  .spidered-marker .icon-div {
    position: relative;
    z-index: 1;
  }

  .spidered-marker .icon-div::before {
    content: '';
    @apply absolute z-10 border border-white rounded-full bg-primary -translate-x-1/2 -translate-y-1/2 transition-colors;
    width: 22px;
    height: 22px;
  }

  .spidered-marker .icon-div.active::before {
    @apply ring-2 ring-primary ring-offset-2 ring-offset-white;
  }

  .spidered-marker:hover .icon-div::before {
    @apply bg-gray-40;
  }

  .spidered-marker .line-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.3px;
    background-color: #343434;
    transform-origin: bottom;
    z-index: 0;
    height: 0;
  }
}

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }
}
